[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.22"
pylint = "==2.5.2"
black = "==19.10b0"
pillow = "==7.1.2"
django-crispy-forms= "==1.8.1"
django-six= "==1.0.4"
python-dotenv = "==0.10.3"
social-auth-app-django = "*"

[requires]
python_version = "3.7"
