{% extends 'partial/layout.html' %}
 {% for ass in backends.associated %}
      {% if ass.provider == 'facebook' %}
        <div class="col-md-6 text-center">
            <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
        </div>
        <div class="col-md-6 social-container my-2">                 <p> Signed in via:  {{ ass.provider }} </p>
            <p> Name:  {{ ass.extra_data.name }} </p>
            <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
        </div>
      {% endif %}
      {% if ass.provider == 'instagram' %}
        <div class="col-md-6 text-center">               <img src="{{ ass.extra_data.user.profile_picture }}" alt="" width="150" height="150" style="border-radius: 50%">             </div>
        <div class="col-md-6 social-container my-2">
          <p>Signed in via: {{ ass.provider }} </p>
          <p> Name:  {{ ass.extra_data.user.full_name }} </p>
          <p>Provider url: <a href="https://instagram.com/{{ ass.username }}">link</a></p>
      {% endif %}
      {% endfor %}
      {% block header %}
      {% include "partial/header.html" %}

      {% endblock header %}

      {% block nav %}
      {% include "partial/nav.html" %}
      {% endblock nav %}

    {% block editor %}
    {% include "partial/editor.html" %}
    {% endblock editor %}
   
     {% block news %}
     {% include "partial/news.html" %}
     {% endblock news %}

     
      
  
    {% block footer %}
    {% include "partial/footer.html" %}
    {% endblock footer %}

 {% block script %}
 {% include "partial/script.html" %}
 {% endblock script %}

